<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员注册-<!--{$site.title}--></title>
<meta name="description" content="<!--{$site.description|html2txt}-->">
<!--{iCMS:public}-->
<link href="style/register.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$(function(){
//验证码
	$("#seccodeimg").click(function(){
		$(this).attr('src',iCMS.publicURL+"/seccode.php?"+Math.random())
	}); 
	$(".i").focus(function(){
		var msg=[];
		msg['nickname']="4~24个字符";
		msg['password']="密码由6~16位字母、数字、字符组成";
		msg['pwdrepeat']="请再输入一遍您上面填写的密码";
		msg['username']="输入你的电子邮件地址，将方便你在忘记密码时找回密码";
		info(this.id,msg[this.id],"Exp");
	}); 
//提交事件
	$("#regForm").submit(function (){
		var param={
			"username":$("#username").val(),
			"nickname":$("#nickname").val(),
			"password":$("#password").val(),
			"pwdrepeat":$("#pwdrepeat").val(),
			<!--{if $config.seccode}-->"seccode":$("#seccode").val(),<!--{/if}-->
			"forward":'<!--{$forward}-->',
			"action":"register"
		}
		var pattern = /^([a-zA-Z0-9._-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9._-])+/;
		if(!pattern.test(param.username)){ 
			info("username","E-mail格式错误.","Wrong");
			return false; 
		}else{
			info("username","填写正确。","Correct");
		}
		if(param.nickname==""){
			info("nickname","昵称不能为空！","Wrong");
			return false;
		}
		info("nickname","填写正确。","Correct");
		
		if(param.password==""){
			info("password","密码设置错误。请填写密码.","Wrong");
			return false;
		}
		if(param.password.length<6){
			info("password","密码设置错误。密码长度过小。","Wrong");
			return false;
		}
		if(param.password.length>16){
			info("password","密码设置错误。密码过长。","Wrong");
			return false;
		}
		info("password","填写正确。","Correct");
		if(param.pwdrepeat==""){
			info("pwdrepeat","请填写确认密码.","Wrong");
			return false;
		}
		if(param.password!=param.pwdrepeat){
			info("password","两次输入的密码不一致。请再输入一次您上面输入的密码。","Wrong");
			return false;
		}
		info("pwdrepeat","填写正确。","Correct");
		<!--{if $config.seccode}-->
		if(param.seccode==""){
			info("seccode","请输入验证码。","Wrong");
			return false;
		}
		<!--{/if}-->
		if(!$('#agreement').attr('checked')){
			alert("请先阅读并同意注册条款内容!");
			return false;
		}
		$.post(iCMS.publicURL+"/passport.php",param,
			function(o){
				if(o.state=="1"){
					alert("注册成功!");
					//跳转
//					alert("注册成功,您可以继续在会员中心完善您的个人资料。");
					//window.location.href="<!--{$site.url}-->/usercp.php";
					window.location.href= (param.forward ?param.forward:'<!--{$site.usercpURL}-->');
				}else{
					info(o.state,o.msg,"Wrong");
				}
			}
		,"json");
	  return false;
	}); 
});
function info(e,msg,c){
	if(e=='seccode'){
		alert(msg);
		return;
	}
	var id="#"+e+"_info";
	$(id).removeClass().addClass(c);
	if(msg!="")$(id).text(msg);
}
</script>
</head>
<body>
<div id="container">
  <div class="header">
    <div class="r"></div>
    <div id="logo"><img src="<!--{$site.publicURL}-->/common/iCMS.logo.gif" /></div>
  </div>
  <div id="main">
    <div class="position"><a href="<!--{$site.index}-->"><!--{$site.title}--></a> »  <a href="<!--{$site.publicURL}-->/passport.php?do=register">会员注册</a></div>
    <div class="alert">带红色*的都是必填项目，若填写不全将无法注册</div>
    <table width="99%" border="0" align="center" cellpadding="4" cellspacing="1">
      <form id="regForm" name="regForm" action="<!--{$site.publicURL}-->/passport.php" method="post">
        <tr>
          <td colspan="2" class="topbg"><h3>个人资料</h3></td>
        </tr>
        <tr>
          <td><label for="username" hidefocus="true">电子邮件<font color="red">*</font></label></td>
          <td><input name="username" type="text" id="username" class="i"/>
            <span id="username_info">输入你的电子邮件地址，将方便你在忘记密码时找回密码。</span></td>
        </tr>
        <tr>
          <td><label for="nickname" hidefocus="true">昵称<font color="red">*</font></label></td>
          <td><input name="nickname" type="text" id="nickname" class="i"/>
            <span id="nickname_info">发表文章时显示的名字</span></td>
        </tr>
        <tr>
          <td><label for="password" hidefocus="true">密码<font color="red">*</font></label></td>
          <td><input name="password" type="password" id="password" class="i"/>
            <span id="password_info" >密码由6~16位字母、数字、字符组成</span></td>
        </tr>
        <tr>
          <td><label for="pwdrepeat" hidefocus="true">确认密码<font color="red">*</font></label></td>
          <td><input name="pwdrepeat" type="password" id="pwdrepeat" class="i"/>
            <span id="pwdrepeat_info">请再输入一遍您上面填写的密码</span></td>
        </tr>
        <!--{if $config.seccode}-->
        <tr>
          <td><label for="seccode" hidefocus="true">验证码<font color="red">*</font></label></td>
          <td><input name="seccode" id="seccode" size="6" maxlength="4" style="width:60px;">
            <img src="<!--{$site.dir}-->/include/seccode.php" align="absmiddle" id="seccodeimg" title="看不清楚，换一张"><span id="seccode_info">把图片上的文字填写到小输入框里</span></td>
        </tr>
        <!--{/if}-->
        <tr>
          <td colspan="2" align="left"><input name="agreement" type="checkbox" class="checkbox" id="agreement" value="1" checked="checked"/>
            我已阅读并接受“<a href="<!--{$site.publicURL}-->/passport.php?do=agreement" target="_blank">注册条款</a>”</td>
        </tr>
        <tr>
          <td colspan="2" align="left" bgcolor="#FFFFFF"><input type="submit" value="注 册" class="submit"/>
            <input type="reset" class="button" id="button" value="重 置" /></td>
        </tr>
      </form>
    </table>
  </div>
  <div class="footer">
    <div class="copyright">Powered by <span style="color:#0000FF"><a href="http://www.idreamsoft.com" target="_blank">iCMS</a></span> <!--{$version}--> &copy; 2007-2011 <a href="http://www.idreamsoft.com" target="_blank"><span style="color:#669900">iDreamSoft.com</span></a> Inc. All rights reserved.</div>
  </div>
</div>
</body>
</html>
