.area { margin: 0 auto; clear:both; padding: 0px 12px; text-align:center; }
.area0 { width:970px; margin: 0 auto; clear:both; padding: 0px; }
.title { background:url(../images/dotted.gif) repeat-x bottom; height:30px; line-height:30px; padding:0 0 2px; margin-bottom: 8px; margin-left: 5px; }
.title h3 { font-size:14px; font-weight:bold; padding:0 0 0 25px; background:url(../images/arrow.gif) no-repeat 0 6px; text-align: left; }
.title h3 span { font-size:14px; font-weight:bold; color:#777; font-family:宋体; }
.area1 { overflow:hidden; margin: 0 auto; clear:both; background-color:#eee; padding:4px; -moz-border-radius: 4px; -moz-box-sizing: content-box; -webkit-border-radius: 4px; -webkit-box-sizing: content-box; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-color: #E5E5E5 #DBDBDB #D2D2D2; border-style: solid; border-width: 1px; }
.area1 .cleft { overflow:hidden; float:left; width:360px; background-color:#fff; text-align:left; padding: 0 5px 8px; }
.area1 .cleft .btitle { padding:12px 10px 14px 10px; }
.area1 .cleft .btitle2 { padding:12px 10px 14px 10px; background:url(../images/arrowl2.gif) no-repeat right; }
.area1 .cleft .btitle h1, .area1 .cleft .btitle2 h1 { font-size:16px; font-weight:bold; line-height:120%; display:inline; }
.area1 .cleft .newstitle ul { padding:0 15px 0 0; }
.area1 .cleft .newstitle ul.active { background:url(../images/arrowl2.gif) no-repeat right; }
.area1 .cleft .newstitle li { clear:both; text-align:left; font-size:14px; line-height:23px; padding:4px 0 4px 0; background:url(../images/dotted.gif) repeat-x top; }
.area1 .cleft .newstitle li.active { background-color:#eee; }
.area1 .cleft .newstitle li span { font-size:12px; line-height:19px; color:#1f3a87; padding:0 0 0 3px; }

.area1 .cright { overflow:hidden; float:right; width:600px; margin: 0 0 0 8px;background-color:#fff; padding:3px;text-align:center; }
.area1 .cright .fpic img {border-color: #E5E5E5 #DBDBDB #D2D2D2; border-style: solid; border-width: 1px;padding:1px;}
.area1 .cright .digest { text-align:left; clear:both; color:#000; line-height:150%; margin:5px 0 0;text-indent:24px; }
.area1 .cright .digest a { color:#BC2931; margin:0 0 0 5px; }
.area1 .cright .digest a:hover { color:#BC2931; }
.area1 .cright .digest a:visited { color:#BC2931; }
.col { border:#CCCCCC solid 1px; padding:0px 12px; }
.colist { float:right; width:660px; }
.colist .col1 { border:#CCCCCC solid 1px; width:300px; float:left; padding:0px 12px; }
.colist .col2 { border:#CCCCCC solid 1px; width:298px; float:left; margin-left:10px; padding:0px 12px; }
.colist .newsList { line-height:22px; font-size:14px; }
.colist .newsList li { background:url(../images/listdot.gif) no-repeat 0px 8px; padding:0 0 0 8px; clear:both; overflow: hidden; text-align: left; }
.colist .newsList li .date { padding:0 10px 0 0; float:right }
.col .pic { padding:0; text-align:center; margin:0 auto; }
.col .pic .title { background:url(../images/dotted.gif) repeat-x center; height:20px; margin:0; padding:0; }
.col .pic .title h4 { line-height:20px; padding:0 5px 0 17px; display:inline; background:url(../images/arrow3.gif) no-repeat 3px 2px #fff; color:#666; }
.col .pic .picList { padding:0; margin:0 auto; clear: both; }
.col .pic .picList li { float:left; padding:0 8px; text-align:center; width: 120px; }
.col .pic .picList li img { border:1px solid #ccc; padding:5px; clear: both; }
.col .pic .picList li p { margin:5px 0; overflow:hidden; height:12px; }
.area2 { overflow:hidden; margin:0 auto; clear:both; padding:0px 5px; text-align: left; -moz-border-radius: 4px; -moz-box-sizing: content-box; -webkit-border-radius: 4px; -webkit-box-sizing: content-box; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-color: #E5E5E5 #DBDBDB #D2D2D2; border-style: solid; border-width: 1px; }
.area2 .row { padding:0px; height:auto; width:100%; clear:both; }
.area2 .col1 { width:455px; float:left; border-right: 1px solid #CCCCCC; padding:0px 12px 0px 0px; height:580px; }
.area2 .col2 { width:454px; float:right; border-left: 1px solid #CCCCCC; padding:0px 0px 0px 12px; height:580px; }
.area2 .title { background:url(../images/dotted.gif) repeat-x bottom; height:30px; line-height:30px; padding:0 0 3px 0; margin:0 0 12px 0; }
.area2 .title h3 { font-size:14px; font-weight:bold; padding:0 0 0 25px; background:url(../images/arrow.gif) no-repeat 0 6px; text-align: left; width:64px; float:left; }
.area2 .title .tags { float:right; width:760px; overflow:hidden; height:28px; text-align:right; margin-right:10px; }
.area2 .title h3 span { font-size:14px; font-weight:bold; color:#777; font-family:宋体; }
.area2 .newsA { padding:2px 0 0 0; }
.area2 .newsA .title { background:url(../images/dotted.gif) repeat-x center; height:20px; margin:0; padding:0; }
.area2 .newsA .title h4 { line-height:20px; padding:0 5px 0 12px; display:inline; background:url(../images/arrow2.gif) no-repeat 3px 3px #fff; color:#b00; }
.area2 .newsA .btitle h1 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA .btitle h2 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA .btitle h4 { font-size:16px; font-weight:bold; line-height:120%; padding:0 5px 0 12px; display:inline; }
.area2 .newsA p { margin:5px 0; padding-left:12px; color:#666; font-size:12px; }
.area2 .newsList { line-height:22px; font-size:14px; padding:0; width:49%; float:left; }
.area2 .newsList li { background:url(../images/listdot.gif) no-repeat 10px 8px; padding:0 0 0 18px; clear:both; }
.area2 .newsList li .date { padding:0 10px 0 0; float:right; }
.area2 .picA { padding:8px 0 0 0; }
.area2 .picA .ptitle { background:url(../images/dotted.gif) repeat-x center; height:20px; margin:0; padding:0;}
.area2 .picA .ptitle span { float:right; background-color:#eee;height:24px;line-height:24px; padding:0 5px;color:#333; }
.area2 .picA .ptitle h4 { float:left; line-height:20px; padding:0 5px 0 17px; display:inline; background:url(../images/arrow3.gif) no-repeat 3px 5px #fff; color:#666; }
.area2 .picA .picList { padding:12px 0 0; }
.area2 .picA .picList li { float:left; display: inline; margin: 0px 6px; }
.area2 .picA .picList li img { border:1px solid #ccc; padding: 1px; }
.area2 .picA .picList li p { margin:7px 0; width: 124px; height: 15px; overflow: hidden; }
.alignR { text-align:right; }
.alignC { text-align:center; }
.pRight { padding:5px 15px 0; margin: 2px 0px 3px 0px; }
.bottomL { width:960px; height:1px; background:url(../images/areabottom.gif) no-repeat; margin:auto; clear:both; overflow:hidden; }
/*-------------------------首页:底部:友情链接*/
.flink { margin:0 auto; clear:both; -moz-border-radius: 4px; -moz-box-sizing: content-box; -webkit-border-radius: 4px; -webkit-box-sizing: content-box; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); border-color: #E5E5E5 #DBDBDB #D2D2D2; border-style: solid; border-width: 1px; }
.flink .title1 { height:26px; line-height:26px; background:url(../images/flink_title_bg.gif) repeat-x; }
.flink .title1 dl dt { width:200px; float:left; line-height:26px; text-indent:20px; font-weight:bold; letter-spacing:2px; color:#666666; }
.flink .title1 dl dd { color:#AAA; float:right; margin-right:10px; display:inline; }
.flink .title1 dl dd a { color:#666666; }
.flink .flinkcon { idth:984px; margin:0px auto 0px; overflow:hidden; padding-bottom:10px; }
.flink .flinkcon a { color:#666666; display:block; float:left; height:15px; line-height:15px; padding-right:12px; padding-left:12px; margin:10px 0px 0px -1px; white-space:nowrap; border-left:1px solid #EEE; }
/*--------------------*/
