<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!--{$forum.name}-->密码验证-<!--{$site.title}-->-<!--{$site.seotitle}--></title>
<meta name="keywords" content="<!--{$forum.keywords}-->">
<meta name="description" content="<!--{$forum.description|html2txt}-->">
<!--{iCMS:public}-->
<link href="style/global.css" rel="stylesheet" type="text/css" />
<link href="style/article.css" rel="stylesheet" type="text/css" />
</head>
<body><!--{include file="./top.htm"}-->
<div class="container">
  <div class="header">
    <div class="r"><!--{iCMS:advertise name="全站顶部广告"}--></div>
    <div id="logo"><img src="images/logo.gif" /></div>
  </div>
  <!--{include file="./menu.htm"}-->
  <div class="main cbody"> <!--左侧-->
    <div class="pleft"> 
      <!--{if $forum.subids}-->
      <div class="subforum">
        <div class="subtitle"><!--{$forum.name}-->频道</div>
        <ul>
          <!--{iCMS:forums type='sub' loop='true' fid=$forum.fid}-->
          <li><a href='<!--{$forums.url}-->'><!--{$forums.name}--></a></li>
          <!--{/iCMS}-->
        </ul>
        <div class="clear"></div>
      </div>
      <!--{/if}-->
      <div class="placenav"> <span>当前位置 :</span><a href="<!--{$site.index}-->">首页</a> »  <!--{$forum.name}--> »  密码验证 </div>
      <div class="newslist">
        <h3>您所访问的版块,需要密码验证.</h3>
        <div class="forumAuth">
          <form name="forumAuth" method="POST" action="<!--{$site.publicURL}-->/action.php?do=forumAuth" id="forumAuth">
            <table border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td><label for="iCMS_forum_password">请输入访问密码:</label><input name="iCMS_forum_password" type="password" class="q" id="iCMS_forum_password" value="" />
                  <input name="fid" type="hidden" id="fid" value="<!--{$forum.fid}-->" />
                  <input name="forward" type="hidden" id="forward" value="<!--{$forward}-->" /></td>
                <td width="60"><input type="submit" class="button" value="验 证"/></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
    <!--右侧-->
    <div class="pright"> <!--侧边信息列表-->
      <div class="search">
        <form name="searchForm" method="get" action="<!--{$site.publicURL}-->/search.php" id="search" target="_blank">
          <table border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td width="200"><input name="q" type="text" class="q" id="q" value="请输入关键字" onclick="this.value='';"/></td>
              <td width="40"><input type="submit" class="button" value="搜 索"/></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="ivy ar1"><!--{iCMS:advertise name="列表FI页右侧第一栏"}--></div>
      <div class="rlist mt10">
        <div class="title">排行榜</div>
        <div class="rbox">
          <ul class='txtlist'>
            <!--{iCMS:list loop='true' orderby='hot' sub="all" row="10" fid=$forum.fid}-->
            <li><a href='<!--{$list.url}-->'><!--{$list.title}--></a></li>
            <!--{/iCMS}-->
          </ul>
        </div>
      </div>
      <div class="ivy mt10"></div>
      <!--侧边信息列表-->
      <div class="rlist mt10">
        <div class="title">最新图文</div>
        <div class="rbox">
          <ul class='rPic'>
            <!--{iCMS:list loop='true' pic='true' row="10"}--> 
            <!--{if $list.rownum<5}-->
            <li><i class="iPic"><a href='<!--{$list.url}-->'><img width="120" height="140" src="<!--{$list.pic|small}-->" title="<!--{$list.title}-->"/></a></i> <i class="iTitle"><a href='<!--{$list.url}-->'><!--{$list.title|cut:10}--></a></i></li>
            <!--{else}--> 
            <!--{if $list.rownum==5}-->
          </ul>
          <div class="blank6"></div>
          <ul class='txtlist'>
            <!--{/if}-->
            <li>[<!--{$list.sort.link}-->] <a href='<!--{$list.url}-->'><!--{$list.title}--></a></li>
            <!--{/if}--> 
            <!--{/iCMS}-->
          </ul>
        </div>
      </div>
      <div class="rlist mt10">
        <div class="title">热门标签</div>
        <div class="rbox" id="hotTags"> 
          <!--{iCMS:tag loop="true" row="50" orderby="hot" sortid=$forum.fid}--> 
          <a href="<!--{$tag.url}-->" title="<!--{$tag.name}-->"><!--{$tag.name}--></a> 
          <!--{/iCMS}--> 
        </div>
      </div>
    </div>
    <div class="floatclear"><!--清除浮动--></div>
  </div>
  <!--{include file="./footer.htm"}--> 
</div>
</body>
</html>
