<!--Footer-->
<div class="footer">
  <div class="footerbar"> 
    <!--Copyright-->
    <div class="copyright">
      <p class="about_info"> <a href="<!--{$site.url}-->">Home</a> | <a href="<!--{$site.publicURL}-->/rss.php">Sitemap</a> | <a href="http://www.miibeian.gov.cn/" target="_blank"><!--{$site.icp}-->号</a> </p>
      <p> Copyright &copy; 2003-2011 <a href="<!--{$site.url}-->"><!--{$site.title}--></a>. Powered By <a href="http://www.idreamsoft.com/" title="iCMS Plus v5.1 build 20110224" target="_blank">iCMS</a>. </p>
    </div>
    <!--Copyright End--> 
  </div>
</div>
<!--Footer End-->