<div id="header1">
  <div id="top">
    <div id="nav"> <a onfocus="this.blur()" title="<!--{$site.title}-->,<!--{$site.seotitle}-->" href="<!--{$site.url}-->" id="sitename"><!--{$site.title}--></a>
      <div id="menu">
        <ul>
          <li id="on"><a onfocus="this.blur()" href="<!--{$site.url}-->">博客</a></li>
          <li><a onfocus="this.blur()" href="<!--{$site.publicURL}-->/passport.php?do=login">登陆</a></li>
          <li id="rss"><a onfocus="this.blur()" href="<!--{$site.publicURL}-->/rss.php" class="rss" target="_blank"><cite>RSS</cite></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>